<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <h3>Login</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <div ng-show="vm.errorMessage" class="alert alert-danger"></div>
        <form class="form" ng-submit="vm.login()">
            <div class="form-group">
                <label>Username</label>
                <input type="text"
                       class="form-control"
                       name="username"
                       ng-model="vm.username"
                       required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password"
                       class="form-control"
                       name="password"
                       ng-model="vm.password"
                       required>
            </div>
            <div>
                <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
            </div>
        </form>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4" style="padding-top:15px;">
        <div class="row">
            <div style="padding:0px 15px 0px 15px;">
                <button class="btn btn-primary col-xs-12" type="button" ng-click="vm.authenticate('facebook');" style="margin-bottom:10px;">
                    Login With Facebook
                </button>

                <button class="btn btn-primary col-xs-12" type="button" ng-click="vm.authenticate('instagram');" >
                    Login With Instagram
                </button>
            </div>
        </div>
    </div>
</div>